@font-face{
    font-family: 'pirate one';
    src: url(./font/pirata_one/PirataOne-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 250px;
    display: block;
    background-color: rgb(46, 18, 68);
    background-size: 100%;
}

header h1{
    font-family:'pirate one';
    font-size: 60px;
    color: white;
    display: block;
    float: left;
    width: 500px;
    margin-left: 500px;
    padding-top: 85px;
}

article {
    width: 60%;
    height: 800px;
    display: block;
    float: left;
    background-color: black;
    color: white;
}

aside{
    width: 40%;
    height: 800px;
    display: block;
    float: left;
    background-color: rgb(43, 40, 40);
}

h1{
    font-family: 'pirate one';
    margin: 5px 5px 5px 5px;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 20px 10px 20px;
}